<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Code Factory</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <%- include('header') %>

    <main class="about-container">
        <h1>Contact</h1>
        <p>If you have any questions, suggestions, or need support, feel free to reach out.</p>

        <h2>Email</h2>
        <p><a href="mailto:codefactorybusiness@gmail.com">codefactorybusiness@gmail.com</a></p>

        <h2>Follow me on Instagram</h2>
        <p>
            <a href="https://www.instagram.com/hookedon.code/" target="_blank">
                <img src="/images/insta-logo.png" alt="Instagram">@hookedon.code
            </a>
        </p>
    </main>
</body>
</html>
