<header class="header">
    <div class="header-container">
        <a href="/" class="header-title">
            <img src="/images/logo.png" loading="lazy" width="30" height="40" alt="Code Factory Logo" class="header-logo">
        </a>
        <nav class="header-nav">
            <a href="/" class="nav-link">Projects</a>
            <a href="/page/about" class="nav-link">About</a>
            <a href="/page/contact" class="nav-link">Contact</a>
        </nav>
    </div>
</header>

<script src="/js/header.js" defer></script>