<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/projects.css">
</head>
<body>
    <h2>Coding Project Idea Generator</h2>
    <%- include('form') %>
    <%- include('projects', {projects: projects}) %>
    
</body>
</html>