<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Factory</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <h1 style="padding: 24px;">Code Factory</h1>
    
    <%- include('form') %>
    <%- include('projects', {projects: projects}) %>
    
</body>
</html>