<div class="projects-list">
    <h3>Projects</h3>
    <% if (projects.length > 0) { %>
        <ul class="project-items">
            <% projects.forEach(project => { %>
                <li class="project-item">
                    <div class="project-info">
                        <h4 class="project-title"><%= project.title %></h4>
                        <p class="project-description"><%= project.description %></p>
                        <p class="project-interest"><strong>Interest:</strong> <%= project.interest %></p>
                        <p class="project-skill-level"><strong>Skill Level:</strong> <%= project.skill_level %></p>
                    </div>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p class="no-projects">No project found.</p>
    <% } %>
</div>

