/* General Styles */
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.full-page {
  height: 100dvh;
  overflow: hidden; /* Hide any overflow */
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%; /* Adjust width as needed */
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000; /* Ensure the sidebar is above other content */
}

.sidebar.open {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 20px;
  left: 20px; /* Move button to the left */
  padding: 8px 18px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.228); 
  color: rgb(192, 7, 7);
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: rgba(255, 0, 0, 0.431);
}

#sidebarContent {
  padding: 20px;
  padding-top: 60px;
  height: calc(100% - 60px); /* Subtract space for the close button */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

/* Project Details Page */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.project-header {
  border-bottom: 2px solid #33333341;
}

.project-title {
  font-size: 26px;
  color: var(--primary);
  margin: 0;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between title and tags */
}

.project-tags {
  display: flex;
  gap: 10px; /* Space between each tag */
}

/* Tag styles with vibrant colors */
.project-tags p {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #333333db;
}

/* Vibrant orange for interest tag */
.project-interest {
  border: 2px solid var(--interest-color); /* Bright orange border */
  background-color: rgba(255, 153, 51, 0.3); /* Semi-transparent orange background */
}

/* Vibrant purple for skill tag */
.project-skill {
  border: 2px solid var(--skillLevel-color); /* Bright purple border */
  background-color: rgba(153, 51, 255, 0.3); /* Semi-transparent purple background */
}

.project-description {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.milestone-title {
  font-size: 22px;
  margin-top: 8px;
}

#milestoneTree {
  cursor: grab; /* Changes cursor to indicate the user can drag the SVG */
}

.node {
  cursor: pointer;
}

.node rect {
  fill: var(--primary);
}

.node text {
  font-size: 12px;
  font-weight: bold;
  fill: #f1f1f1;    
  text-anchor: middle; 
}

.link {
  fill: none;
  stroke: #333;
  stroke-width: 2px;  
}

/* Sidebar Content Styles */

.milestone-detail-title {
  font-size: 1.5em;
  color: var(--primary);
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.milestone-detail-title .emoji {
  margin-left: 10px;
}

.milestone-detail-description {
  font-size: 1.1em;
  color: var(--text-color);
  margin-bottom: 20px;
}

.milestone-detail-section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.milestone-detail-heading {
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 5px;
}

.milestone-detail-section p {
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
}

.milestone-detail-section p:not(.milestone-detail-heading)::before {
  content: '➤ ';
  color: var(--primary);
}

@media (max-width: 1110px) {
  .sidebar {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .header-content {
      flex-direction: column; /* Stack elements vertically */
      align-items: flex-start; /* Align title and tags to the left */
  }
}

@media (max-width: 887px) {
  .milestone-title {
    font-size: 18px;
  }

  .sidebar {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .milestone-title {
    font-size: 16px;
  }

  .sidebar {
    width: 100%;
  }

  .project-tags p {
    font-size: 12px;
  }
}

